{% extends 'base.html' %}
{% block content %}
<div class="container" data-aos="fade-up">

<div class="section-title" style="margin-top:100px">
                    <h2>Demo</h2>
                    <p>Automatic License Plate Recognition</p>
                </div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/SWgL4FKjzNA?si=ZS3jrZxlOPhem0fl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hm8jqpBqgj0?si=pPrCnrpHGuc5y5Vw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
{% endblock %}