{% extends 'base.html' %}

{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Men in Black<span>.</span></h1>
          <h2>Road Traffic Violation Detection System</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="/Line_Violation_Detection">Line Violation Detection</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/Traffic_Light_Recognition">Traffic Light Detection</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="/License_Plate_Recognition">License Plate Detection</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Monocular Depth Estimation</a></h3>
          </div>
        </div>
        <!-- <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">Nemos Enimade</a></h3>
          </div>
        </div> -->
      </div>

    </div>
  </section><!-- End Hero -->
<!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <!-- <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/dash_cam.jpg" class="img-fluid" alt="" style="width:100%">
          </div> -->
                    <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                        data-aos-delay="100">

                        <div class="Box-sc-g0xbh4-0 cTsUqU js-snippet-clipboard-copy-unpositioned" data-hpc="true">
                            <article class="markdown-body entry-content container-lg" itemprop="text">
                                <div class="section-title">
                                    <h2>Project Overview</h2>
                                    <p>Project Overview</p>
                                </div>
                                <h2 tabindex="-1" dir="auto"><a id="user-content-1-개요" class="anchor" aria-hidden="true"
                                        tabindex="-1" href="#1-개요"><svg class="octicon octicon-link" viewBox="0 0 16 16"
                                            version="1.1" width="16" height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg></a>1. 개요</h2>
                                <p><b>프로젝트 정의:</b> 도로 교통 법규 위반 차량 자동 감지 및 분류</p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> 일상적인 교통 문제: 도로 위에서의 일상적인 교통 법규 위반은 운전자들에게
                                        불편함과 안전 위험을 초래</li>
                                    <li><i class="ri-check-double-line"></i> 신고의 어려움: 법규 위반을 목격하더라도, 운전 중 신고가 어려워 신고가
                                        지연되거나 이루어지지 않음</li>
                                </ul>

                                <h2 tabindex="-1" dir="auto"><a id="user-content-3-데이터셋" class="anchor"
                                        aria-hidden="true" tabindex="-1" href="#3-데이터셋"><svg
                                            class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16"
                                            height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg>
                                </a>2. 모델 구조</h2>
                                <p dir="auto"><a target="_blank" rel="noopener noreferrer nofollow"
                                        href="https://i.imgur.com/iaBXeOq.png"><img
                                            src="https://i.imgur.com/iaBXeOq.png"
                                            alt="" data-canonical-src="https://i.imgur.com/35Cr1cR.png"
                                            style="max-width: 100%;"></a></p>
                                <p dir="auto"><a target="_blank" rel="noopener noreferrer"
                                        href="https://i.imgur.com/0YofTKh.png"><img
                                            src="https://i.imgur.com/0YofTKh.png"
                                            alt="image" style="max-width: 100%;"></a></p>
                                <h2 tabindex="-1" dir="auto"><a id="user-content-4-사용-툴" class="anchor"
                                        aria-hidden="true" tabindex="-1" href="#4-사용-툴"><svg
                                            class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16"
                                            height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg></a>3. 데이터 셋</h2>
                                <h4 tabindex="-1" dir="auto"><a id="user-content-coco-dataset" class="anchor"
                                        aria-hidden="true" tabindex="-1" href="#coco-dataset"><svg
                                            class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16"
                                            height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg></a><a href="https://cocodataset.org/#home" rel="nofollow">COCO
                                        Dataset</a></h4>
                                <ul dir="auto">
                                    <li>330K images (&gt;200K labeled)</li>
                                    <li>1.5 million object instances</li>
                                    <li>80 object categories</li>
                                    <li>Classes: Car, Motorcycle, Bus, Truck</li>
                                </ul>
                                <p dir="auto"><a target="_blank" rel="noopener noreferrer nofollow"
                                        href="https://camo.githubusercontent.com/609291dea8542f5960004f76fe1da8d3bc086287f85ff5f60af05b7123e90313/68747470733a2f2f692e696d6775722e636f6d2f583646696f41652e706e67"><img
                                            src="https://camo.githubusercontent.com/609291dea8542f5960004f76fe1da8d3bc086287f85ff5f60af05b7123e90313/68747470733a2f2f692e696d6775722e636f6d2f583646696f41652e706e67"
                                            alt="" data-canonical-src="https://i.imgur.com/X6FioAe.png"
                                            style="max-width: 100%;"></a></p>
                                <h4 tabindex="-1" dir="auto"><a
                                        id="user-content-roboflowlicense-plate-recognition-object-detection-dataset-v4-resized640_aug3x-accurate"
                                        class="anchor" aria-hidden="true" tabindex="-1"
                                        href="#roboflowlicense-plate-recognition-object-detection-dataset-v4-resized640_aug3x-accurate"><svg
                                            class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16"
                                            height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg></a><a
                                        href="https://universe.roboflow.com/roboflow-universe-projects/license-plate-recognition-rxg4e/dataset/4"
                                        rel="nofollow">[Roboflow]License Plate Recognition Object Detection Dataset (v4,
                                        resized640_aug3x-ACCURATE)</a></h4>
                                <ul dir="auto">
                                    <li>24242 images</li>
                                    <li>데이터 증강(Augmentation)
                                        <ul dir="auto">
                                            <li>Flip: Horizontal</li>
                                            <li>Crop: 0% Minimum Zoom, 15% Maximum Zoom</li>
                                            <li>Rotation: Between -10° and +10°</li>
                                            <li>Shear: ±2° Horizontal, ±2° Vertical</li>
                                            <li>Grayscale: Apply to 10% of images</li>
                                            <li>Hue: Between -15° and +15°</li>
                                            <li>Saturation: Between -15% and +15%</li>
                                            <li>Brightness: Between -15% and +15%</li>
                                            <li>Exposure: Between -15% and +15%</li>
                                            <li>Blur: Up to 0.5px</li>
                                            <li>Cutout: 5 boxes with 2% size each</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p dir="auto"><a target="_blank" rel="noopener noreferrer nofollow"
                                        href="https://camo.githubusercontent.com/726d81cf91cc72d461c58940749afdd13293c52f8e94a558cc91b2776cc64d06/68747470733a2f2f692e696d6775722e636f6d2f437150366d4e472e706e67"><img
                                            src="https://camo.githubusercontent.com/726d81cf91cc72d461c58940749afdd13293c52f8e94a558cc91b2776cc64d06/68747470733a2f2f692e696d6775722e636f6d2f437150366d4e472e706e67"
                                            alt="" data-canonical-src="https://i.imgur.com/CqP6mNG.png"
                                            style="max-width: 100%;"></a></p>
                                <h4 tabindex="-1" dir="auto"><a id="user-content-aihub차로-위반-영상-데이터" class="anchor"
                                        aria-hidden="true" tabindex="-1" href="#aihub차로-위반-영상-데이터"><svg
                                            class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16"
                                            height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg></a><a
                                        href="https://aihub.or.kr/aihubdata/data/view.do?currMenu=115&amp;topMenu=100&amp;aihubDataSe=data&amp;dataSetSn=628"
                                        rel="nofollow">[AIHUB]차로 위반 영상 데이터</a></h4>
                                <ul dir="auto">
                                    <li>80,000장 이미지</li>
                                    <li>원시 데이터 포맥 예시(동영상)
                                        <ul dir="auto">
                                            <li>MP4 포맷의 동영상 클립</li>
                                            <li>FHD 해상도</li>
                                            <li>초당 5 프레임</li>
                                        </ul>
                                    </li>
                                    <li>원천데이터 포맷 예시(이미지 추출 및 비식별화 이후)
                                        <ul dir="auto">
                                            <li>JPG 포맥 이미지 실 예시</li>
                                            <li>FHD 해상도</li>
                                            <li>비식별화 처리(사람얼굴, 자동차 번호판, 개인 전화번호 등)</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p dir="auto"><a target="_blank" rel="noopener noreferrer nofollow"
                                        href="https://camo.githubusercontent.com/57b5890c538b4764b22942e311984ac65705d4a23557d800ef123f54933921b1/68747470733a2f2f692e696d6775722e636f6d2f3850526d7573562e706e67"><img
                                            src="https://camo.githubusercontent.com/57b5890c538b4764b22942e311984ac65705d4a23557d800ef123f54933921b1/68747470733a2f2f692e696d6775722e636f6d2f3850526d7573562e706e67"
                                            alt="" data-canonical-src="https://i.imgur.com/8PRmusV.png"
                                            style="max-width: 100%;"></a></p>
                                <h2 tabindex="-1" dir="auto"><a id="user-content-4-사용-툴" class="anchor"
                                        aria-hidden="true" tabindex="-1" href="#4-사용-툴"><svg
                                            class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16"
                                            height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg></a>4. 사용 툴</h2>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th align="center">Techs</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>🖥️ 개발</td>
                                            <td align="center"><a target="_blank" rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/a1b2dac5667822ee0d98ae6d799da61987fd1658dfeb4d2ca6e3c99b1535ebd8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f707974686f6e2d3336373041303f7374796c653d666f722d7468652d6261646765266c6f676f3d707974686f6e266c6f676f436f6c6f723d666664643534"><img
                                                        src="https://camo.githubusercontent.com/a1b2dac5667822ee0d98ae6d799da61987fd1658dfeb4d2ca6e3c99b1535ebd8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f707974686f6e2d3336373041303f7374796c653d666f722d7468652d6261646765266c6f676f3d707974686f6e266c6f676f436f6c6f723d666664643534"
                                                        alt="Python"
                                                        data-canonical-src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&amp;logo=python&amp;logoColor=ffdd54"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/15ab61ce30a10d53ef73580f936329f8308021ebf6dc90f51c817d522516d40f/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f5079546f7263682d2532334545344332432e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d5079546f726368266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/15ab61ce30a10d53ef73580f936329f8308021ebf6dc90f51c817d522516d40f/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f5079546f7263682d2532334545344332432e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d5079546f726368266c6f676f436f6c6f723d7768697465"
                                                        alt="PyTorch"
                                                        data-canonical-src="https://img.shields.io/badge/PyTorch-%23EE4C2C.svg?style=for-the-badge&amp;logo=PyTorch&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/36f18d672255d9642f3e5ec4886605d43e5000a0c0495536f0d00208720278d3/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f7079636861726d2d3134333f7374796c653d666f722d7468652d6261646765266c6f676f3d7079636861726d266c6f676f436f6c6f723d626c61636b26636f6c6f723d626c61636b266c6162656c436f6c6f723d677265656e"><img
                                                        src="https://camo.githubusercontent.com/36f18d672255d9642f3e5ec4886605d43e5000a0c0495536f0d00208720278d3/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f7079636861726d2d3134333f7374796c653d666f722d7468652d6261646765266c6f676f3d7079636861726d266c6f676f436f6c6f723d626c61636b26636f6c6f723d626c61636b266c6162656c436f6c6f723d677265656e"
                                                        alt="PyCharm"
                                                        data-canonical-src="https://img.shields.io/badge/pycharm-143?style=for-the-badge&amp;logo=pycharm&amp;logoColor=black&amp;color=black&amp;labelColor=green"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/e922b45bfb79029cf4436e255b0d17b00b651e13b24f1751a9f87b14055fb4b1/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6a7570797465722d2532334641304630302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6a757079746572266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/e922b45bfb79029cf4436e255b0d17b00b651e13b24f1751a9f87b14055fb4b1/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6a7570797465722d2532334641304630302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6a757079746572266c6f676f436f6c6f723d7768697465"
                                                        alt="Jupyter Notebook"
                                                        data-canonical-src="https://img.shields.io/badge/jupyter-%23FA0F00.svg?style=for-the-badge&amp;logo=jupyter&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/01a0e0358e1ce867c57b40f3fc5e037d6f0b7b8946ad9856749b3cf1830c0767/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6f70656e63762d25323377686974652e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6f70656e6376266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/01a0e0358e1ce867c57b40f3fc5e037d6f0b7b8946ad9856749b3cf1830c0767/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6f70656e63762d25323377686974652e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6f70656e6376266c6f676f436f6c6f723d7768697465"
                                                        alt="OpenCV"
                                                        data-canonical-src="https://img.shields.io/badge/opencv-%23white.svg?style=for-the-badge&amp;logo=opencv&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/fec001b73f0253a3b7036f8cd5135d35797f0db64e9399903fc62e588e15ef43/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f54656e736f72466c6f772d2532334646364630302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d54656e736f72466c6f77266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/fec001b73f0253a3b7036f8cd5135d35797f0db64e9399903fc62e588e15ef43/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f54656e736f72466c6f772d2532334646364630302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d54656e736f72466c6f77266c6f676f436f6c6f723d7768697465"
                                                        alt="TensorFlow"
                                                        data-canonical-src="https://img.shields.io/badge/TensorFlow-%23FF6F00.svg?style=for-the-badge&amp;logo=TensorFlow&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/0dc77879e3ee5ed780c6bc624050af6f7d693832485f50163c0bf28dcbd7bcf2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f466173744150492d3030353537313f7374796c653d666f722d7468652d6261646765266c6f676f3d66617374617069"><img
                                                        src="https://camo.githubusercontent.com/0dc77879e3ee5ed780c6bc624050af6f7d693832485f50163c0bf28dcbd7bcf2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f466173744150492d3030353537313f7374796c653d666f722d7468652d6261646765266c6f676f3d66617374617069"
                                                        alt="FastAPI"
                                                        data-canonical-src="https://img.shields.io/badge/FastAPI-005571?style=for-the-badge&amp;logo=fastapi"
                                                        style="max-width: 100%;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>☁️ 환경</td>
                                            <td align="center"><a target="_blank" rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/54161cf74cf40084968b6f64e91f7cc4bc128367fc27f69321b19dcb2bb3ba5c/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6e56494449412d2532333736423930302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6e5649444941266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/54161cf74cf40084968b6f64e91f7cc4bc128367fc27f69321b19dcb2bb3ba5c/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6e56494449412d2532333736423930302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6e5649444941266c6f676f436f6c6f723d7768697465"
                                                        alt="nVIDIA"
                                                        data-canonical-src="https://img.shields.io/badge/nVIDIA-%2376B900.svg?style=for-the-badge&amp;logo=nVIDIA&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/b92df6010fa9372dafa7b14aa96fe86d6a8c9175fbc8253b3c044aaa004ecf7e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f416e61636f6e64612d2532333434413833332e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616e61636f6e6461266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/b92df6010fa9372dafa7b14aa96fe86d6a8c9175fbc8253b3c044aaa004ecf7e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f416e61636f6e64612d2532333434413833332e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616e61636f6e6461266c6f676f436f6c6f723d7768697465"
                                                        alt="Anaconda"
                                                        data-canonical-src="https://img.shields.io/badge/Anaconda-%2344A833.svg?style=for-the-badge&amp;logo=anaconda&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/d6de31463470dd4540e7ece7849e6d38d423825f113ea4ae639f4dcfd0392d82/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f5562756e74752d4539353432303f7374796c653d666f722d7468652d6261646765266c6f676f3d7562756e7475266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/d6de31463470dd4540e7ece7849e6d38d423825f113ea4ae639f4dcfd0392d82/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f5562756e74752d4539353432303f7374796c653d666f722d7468652d6261646765266c6f676f3d7562756e7475266c6f676f436f6c6f723d7768697465"
                                                        alt="Ubuntu"
                                                        data-canonical-src="https://img.shields.io/badge/Ubuntu-E95420?style=for-the-badge&amp;logo=ubuntu&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/9281daa5684971fd3325661e3dd5fea86b21a902e3741a556fb636fbf0e2f3d4/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4157532d2532334646393930302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616d617a6f6e2d617773266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/9281daa5684971fd3325661e3dd5fea86b21a902e3741a556fb636fbf0e2f3d4/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4157532d2532334646393930302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616d617a6f6e2d617773266c6f676f436f6c6f723d7768697465"
                                                        alt="AWS"
                                                        data-canonical-src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&amp;logo=amazon-aws&amp;logoColor=white"
                                                        style="max-width: 100%;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>📋 협업</td>
                                            <td align="center"><a target="_blank" rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/0f6325940d36137c3e77d69b0dfe0ffb33e9a1084faf9cc843a9c929a874c709/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4e6f74696f6e2d2532333030303030302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6e6f74696f6e266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/0f6325940d36137c3e77d69b0dfe0ffb33e9a1084faf9cc843a9c929a874c709/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4e6f74696f6e2d2532333030303030302e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6e6f74696f6e266c6f676f436f6c6f723d7768697465"
                                                        alt="Notion"
                                                        data-canonical-src="https://img.shields.io/badge/Notion-%23000000.svg?style=for-the-badge&amp;logo=notion&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/ec0d32e85caf4723d5182a75338c89f85a2c3679aed0c46c9ee9fd1c8dc2a316/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6769742d2532334630353033332e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676974266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/ec0d32e85caf4723d5182a75338c89f85a2c3679aed0c46c9ee9fd1c8dc2a316/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6769742d2532334630353033332e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676974266c6f676f436f6c6f723d7768697465"
                                                        alt="Git"
                                                        data-canonical-src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&amp;logo=git&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/f6d50128cb007f85916b7a899da5d94f654dce35a37331c8d28573aef46f4274/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6769746875622d2532333132313031312e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676974687562266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/f6d50128cb007f85916b7a899da5d94f654dce35a37331c8d28573aef46f4274/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6769746875622d2532333132313031312e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676974687562266c6f676f436f6c6f723d7768697465"
                                                        alt="GitHub"
                                                        data-canonical-src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&amp;logo=github&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/870d2945e15dde83583f64ea1f3f4471702e45bf30fa884412da74cb7731ae42/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f536c61636b2d3441313534423f7374796c653d666f722d7468652d6261646765266c6f676f3d736c61636b266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/870d2945e15dde83583f64ea1f3f4471702e45bf30fa884412da74cb7731ae42/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f536c61636b2d3441313534423f7374796c653d666f722d7468652d6261646765266c6f676f3d736c61636b266c6f676f436f6c6f723d7768697465"
                                                        alt="Slack"
                                                        data-canonical-src="https://img.shields.io/badge/Slack-4A154B?style=for-the-badge&amp;logo=slack&amp;logoColor=white"
                                                        style="max-width: 100%;"></a> <a target="_blank"
                                                    rel="noopener noreferrer nofollow"
                                                    href="https://camo.githubusercontent.com/35e11e06e4198d1ade41f868a377efe1abc0d85078f92d55c078b972d4240ae8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6a6972612d2532333041304646462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6a697261266c6f676f436f6c6f723d7768697465"><img
                                                        src="https://camo.githubusercontent.com/35e11e06e4198d1ade41f868a377efe1abc0d85078f92d55c078b972d4240ae8/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6a6972612d2532333041304646462e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d6a697261266c6f676f436f6c6f723d7768697465"
                                                        alt="Jira"
                                                        data-canonical-src="https://img.shields.io/badge/jira-%230A0FFF.svg?style=for-the-badge&amp;logo=jira&amp;logoColor=white"
                                                        style="max-width: 100%;"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2 tabindex="-1" dir="auto"><a id="user-content-5-프로젝트-일정" class="anchor"
                                        aria-hidden="true" tabindex="-1" href="#5-프로젝트-일정"><svg
                                            class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16"
                                            height="16" aria-hidden="true">
                                            <path
                                                d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z">
                                            </path>
                                        </svg></a>5. 프로젝트 일정</h2>
                                <p dir="auto"><a target="_blank" rel="noopener noreferrer nofollow"
                                        href="https://camo.githubusercontent.com/2a8c32916466386ed072d391878532e29b571bf0b7a2447628cd509c931bf061/68747470733a2f2f692e696d6775722e636f6d2f333543723163522e706e67"><img
                                            src="https://camo.githubusercontent.com/2a8c32916466386ed072d391878532e29b571bf0b7a2447628cd509c931bf061/68747470733a2f2f692e696d6775722e636f6d2f333543723163522e706e67"
                                            alt="" data-canonical-src="https://i.imgur.com/35Cr1cR.png"
                                            style="max-width: 100%;"></a></p>
                                <p dir="auto"><a target="_blank" rel="noopener noreferrer"
                                        href="https://i.imgur.com/vWQF27F.png"><img
                                            src="https://i.imgur.com/vWQF27F.pngA"
                                            alt="image" style="max-width: 100%;"></a></p>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->



        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Team</h2>
                    <p>Check our Team</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>신승엽</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>이현지</h4>
                                <span>Product Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>진한별</h4>
                                <span>CTO</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>최우석</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->

       
{% endblock %}